<a href="https://colab.research.google.com/github/micah-shull/LLMs/blob/main/LLM_020_SQL_code_generation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Querying Database

You can connect directly to a database using SQLAlchemy in Colab or other environments, provided you have the correct connection details (e.g., credentials, database URL). Here's how you could set up a workflow for a natural language query-to-SQL pipeline that conforms to your database structure:

### 1. **Direct Database Connection with SQLAlchemy**

With SQLAlchemy, you can connect directly to a variety of databases (PostgreSQL, MySQL, SQLite, etc.). Here's an example for connecting to a PostgreSQL database:

```python
from sqlalchemy import create_engine

# Replace with your actual connection details
engine = create_engine('postgresql://username:password@host:port/database_name')
connection = engine.connect()
```

This connection allows SQLAlchemy to communicate directly with the database.

### 2. **Retrieving Database Schema (Tables and Columns)**

To make the LLM generate queries tailored to your database schema, it’s helpful to retrieve the database structure, including tables and columns. This information can then be included in the prompt you send to the LLM, providing context to help it produce accurate SQL queries.

```python
from sqlalchemy import inspect

# Inspect database structure
inspector = inspect(engine)

# Get tables and columns
schema_info = {}
for table_name in inspector.get_table_names():
    columns = inspector.get_columns(table_name)
    schema_info[table_name] = [column['name'] for column in columns]

print(schema_info)
```

### 3. **Prompting the LLM with Schema Information**

With this schema information, you can create a detailed prompt for the LLM. For example:

```python
import openai

# Example prompt
def generate_sql_query(natural_language_query, schema_info):
    prompt = f"Using the following database structure, generate a SQL query:\n\nDatabase Schema:\n{schema_info}\n\nNatural Language Query:\n{natural_language_query}\n\nSQL Query:"
    
    response = openai.Completion.create(
        engine="text-davinci-003",
        prompt=prompt,
        max_tokens=150
    )
    
    return response['choices'][0]['text'].strip()
```

### 4. **Executing the Generated SQL Query with SQLAlchemy**

Once you have the SQL query generated by the LLM, you can execute it against the connected database.

```python
# Example natural language query
nl_query = "Show me the top 5 customers by total purchase amount."

# Generate SQL query
sql_query = generate_sql_query(nl_query, schema_info)
print("Generated SQL Query:", sql_query)

# Execute query and display results
result = connection.execute(sql_query)
for row in result:
    print(row)
```

### Summary Workflow

1. **Connect** to the database using SQLAlchemy.
2. **Retrieve schema** information with SQLAlchemy’s `inspect`.
3. **Use schema information** in the LLM prompt to generate accurate SQL.
4. **Execute** the generated SQL with SQLAlchemy.

This setup makes it possible for the LLM to understand your specific database structure, helping it produce SQL queries that align with your tables and columns.

**Introduction: Leveraging LLMs for SQL Code Generation**

In this project, we explore how large language models (LLMs) can assist in writing SQL queries, transforming natural language prompts into functional code. LLMs, powered by sophisticated neural networks, have been trained on extensive datasets, including text and code, enabling them to understand and generate human-like responses. By inputting queries in plain language, we can prompt the LLM to generate SQL statements, which can simplify data extraction, transformation, and analysis tasks, even for those with minimal SQL experience.

This approach can be particularly useful in scenarios where quick insights are needed from complex databases or where SQL syntax might be a barrier. With appropriate prompt engineering, LLMs can handle tasks such as retrieving specific data, aggregating results, and performing conditional filtering in SQL. This notebook will guide you through key examples and best practices for using LLMs to generate SQL code, enhancing productivity and bridging the gap between natural language and database interactions.

### Import Libraries

In [2]:
!pip install python-dotenv openai

Requirement already satisfied: python-dotenv in /usr/local/lib/python3.10/dist-packages (1.0.1)
Requirement already satisfied: openai in /usr/local/lib/python3.10/dist-packages (1.52.2)
Requirement already satisfied: anyio<5,>=3.5.0 in /usr/local/lib/python3.10/dist-packages (from openai) (3.7.1)
Requirement already satisfied: distro<2,>=1.7.0 in /usr/local/lib/python3.10/dist-packages (from openai) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /usr/local/lib/python3.10/dist-packages (from openai) (0.27.2)
Requirement already satisfied: jiter<1,>=0.4.0 in /usr/local/lib/python3.10/dist-packages (from openai) (0.6.1)
Requirement already satisfied: pydantic<3,>=1.9.0 in /usr/local/lib/python3.10/dist-packages (from openai) (2.9.2)
Requirement already satisfied: sniffio in /usr/local/lib/python3.10/dist-packages (from openai) (1.3.1)
Requirement already satisfied: tqdm>4 in /usr/local/lib/python3.10/dist-packages (from openai) (4.66.6)
Requirement already satisfied: typing-extensions<5,>=4.11 in /usr/local/lib/python3.10/dist-packages (from openai) (4.12.2)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3.5.0->openai) (3.10)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from anyio<5,>=3.5.0->openai) (1.2.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.10/dist-packages (from httpx<1,>=0.23.0->openai) (2024.8.30)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.10/dist-packages (from httpx<1,>=0.23.0->openai) (1.0.6)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.10/dist-packages (from httpcore==1.*->httpx<1,>=0.23.0->openai) (0.14.0)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1.9.0->openai) (0.7.0)
Requirement already satisfied: pydantic-core==2.23.4 in /usr/local/lib/python3.10/dist-packages (from pydantic<3,>=1.9.0->openai) (2.23.4)

In [3]:
import os
import openai
import json
from dotenv import load_dotenv
import openai
from openai import OpenAI
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import text

### Load CSV Dataset

Sample Sales Data, Order Info, Sales, Customer, Shipping, etc., Used for Segmentation, Customer Analytics, Clustering and More. Inspired for retail analytics. This was originally used for Pentaho DI Kettle, But I found the set could be useful for Sales Simulation training.

Kaggle Sales Data:  https://www.kaggle.com/datasets/kyanyoga/sample-sales-data

In [4]:
df = pd.read_csv("/content/sales_data_sample.csv")
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ORDERNUMBER       2823 non-null   int64
 1   QUANTITYORDERED   2823 non-null   int64
 2   PRICEEACH         2823 non-null   float64
 3   ORDERLINENUMBER   2823 non-null   int64
 4   SALES             2823 non-null   float64
 5   ORDERDATE         2823 non-null   object
 6   STATUS            2823 non-null   object
 7   QTR_ID            2823 non-null   int64
 8   MONTH_ID          2823 non-null   int64
 9   YEAR_ID           2823 non-null   int64
 10  PRODUCTLINE       2823 non-null   object
 11  MSRP              2823 non-null   int64
 12  PRODUCTCODE       2823 non-null   object
 13  CUSTOMERNAME      2823 non-null   object
 14  PHONE             2823 non-null   object
 15  ADDRESSLINE1      2823 non-null   object
 16  ADDRESSLINE2      302 non-null    object
 17  CITY              2823 non-null   object
 18  STATE             1337 non-null   object
 19  POSTALCODE        2747 non-null   object
 20  COUNTRY           2823 non-null   object
 21  TERRITORY         1749 non-null   object
 22  CONTACTLASTNAME   2823 non-null   object
 23  CONTACTFIRSTNAME  2823 non-null   object
 24  DEALSIZE          2823 non-null   object
dtypes: float64(2), int64(7), object(16)
memory usage: 551.5+ KB

## Create Sales Database
When you use `to_sql` to load a DataFrame into a SQL database, several key steps happen in the background to convert your CSV data into a structured SQL table. Here’s a more detailed breakdown of the process:

### 1. **Connecting to the Database**
   - With `temp_db = create_engine('sqlite:///:memory:', echo=True)`, you establish a connection to a temporary SQLite database.
   - You can think of this as setting up a “container” where SQL tables and data can be stored and accessed.

### 2. **Converting DataFrame Columns to SQL Table Schema**
   - When you call `df.to_sql(name='Sales', con=temp_db)`, the `to_sql` method examines the DataFrame’s columns and their data types.
   - Pandas automatically maps the DataFrame’s column names and data types to SQL-compatible types:
     - For example:
       - `int64` columns in the DataFrame might become `INTEGER` in SQL.
       - `float64` columns might be mapped to `REAL`.
       - `object` columns (for text data) might become `TEXT`.

   - This mapping generates a SQL `CREATE TABLE` statement that defines the structure of the table, including the names and types of columns.

### 3. **Executing SQL Commands to Create the Table**
   - Once the table schema is generated, SQLAlchemy executes the `CREATE TABLE` statement in the database, which sets up an empty table named `Sales` that matches the structure of the DataFrame.
   - With `echo=True`, you’ll see the actual SQL commands (e.g., `CREATE TABLE Sales (...)`) printed to the console.

### 4. **Inserting Data into the SQL Table**
   - After creating the table, `to_sql` loops through each row in the DataFrame and inserts it into the database using SQL `INSERT INTO` statements.
   - For each row, SQLAlchemy generates an `INSERT` statement with values matching the data in that row. For instance, if a row in your DataFrame contains `['John Doe', 100, '2024-01-01']`, the corresponding SQL command might look like this:

     ```sql
     INSERT INTO Sales (name, amount, date) VALUES ('John Doe', 100, '2024-01-01');
     ```

   - This insertion process continues until all rows from the DataFrame are added to the table in the database.

### 5. **Result: SQL Database with CSV Data as Tables**
   - After `df.to_sql` completes, the `Sales` table in your database contains all the data from the CSV file, now in SQL table format.
   - You can use SQL queries to access and manipulate this data, just like you would with any other database table:

### SQLalchemy

1. **`create_engine` from `sqlalchemy`**:
   - This function is used to set up a connection to a database. It creates an "engine" object, which manages the connection details (such as the database type, location, and authentication).
   - You can use this engine to execute SQL queries and perform database operations without manually connecting or disconnecting each time.

2. **`text` from `sqlalchemy`**:
   - The `text` function allows you to define SQL statements as plain strings within SQLAlchemy. You use `text` to pass SQL queries as raw text, which can then be executed through the engine.
   - This is especially useful when you want to run custom SQL statements that might not be easy to construct using SQLAlchemy's object-relational mapping (ORM).

In short, `create_engine` establishes the connection to a database, while `text` allows you to execute custom SQL statements within that connection. Together, they enable smooth interaction with databases directly from Python code.

### SQLite
- **`sqlite:///:memory:`**: This is the database connection URL, specifying SQLite as the database type and `:memory:` as the database location. Using `:memory:` creates the database in RAM, so it exists only while the program is running and will be deleted once the program ends. It’s ideal for testing purposes or temporary data storage.

- **`echo=True`**: This argument enables logging, so SQLAlchemy will output the raw SQL statements it executes to the console. It’s useful for debugging, as it lets you see exactly what SQL queries are being run.

In summary, this line sets up an ephemeral, in-memory SQLite database with logging enabled. This is often used for testing or experimentation, as the data won't persist once the session ends.

In [38]:
temp_db = create_engine('sqlite:///:memory:', echo=True)
data = df.to_sql(name='Sales',con=temp_db)

2024-11-06 19:59:00,953 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-11-06 19:59:00,969 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Sales")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("Sales")

2024-11-06 19:59:00,973 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-11-06 19:59:00,978 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Sales")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("Sales")

2024-11-06 19:59:00,982 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-11-06 19:59:00,988 INFO sqlalchemy.engine.Engine
CREATE TABLE "Sales" (
	"index" BIGINT,
	"ORDERNUMBER" BIGINT,
	"QUANTITYORDERED" BIGINT,
	"PRICEEACH" FLOAT,
	"ORDERLINENUMBER" BIGINT,
	"SALES" FLOAT,
	"ORDERDATE" TEXT,
	"STATUS" TEXT,
	"QTR_ID" BIGINT,
	"MONTH_ID" BIGINT,
	"YEAR_ID" BIGINT,
	"PRODUCTLINE" TEXT,
	"MSRP" BIGINT,
	"PRODUCTCODE" TEXT,
	"CUSTOMERNAME" TEXT,
	"PHONE" TEXT,
	"ADDRESSLINE1" TEXT,
	"ADDRESSLINE2" TEXT,
	"CITY" TEXT,
	"STATE" TEXT,
	"POSTALCODE" TEXT,
	"COUNTRY" TEXT,
	"TERRITORY" TEXT,
	"CONTACTLASTNAME" TEXT,
	"CONTACTFIRSTNAME" TEXT,
	"DEALSIZE" TEXT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE "Sales" (
	"index" BIGINT,
	"ORDERNUMBER" BIGINT,
	"QUANTITYORDERED" BIGINT,
	"PRICEEACH" FLOAT,
	"ORDERLINENUMBER" BIGINT,
	"SALES" FLOAT,
	"ORDERDATE" TEXT,
	"STATUS" TEXT,
	"QTR_ID" BIGINT,
	"MONTH_ID" BIGINT,
	"YEAR_ID" BIGINT,
	"PRODUCTLINE" TEXT,
	"MSRP" BIGINT,
	"PRODUCTCODE" TEXT,
	"CUSTOMERNAME" TEXT,
	"PHONE" TEXT,
	"ADDRESSLINE1" TEXT,
	"ADDRESSLINE2" TEXT,
	"CITY" TEXT,
	"STATE" TEXT,
	"POSTALCODE" TEXT,
	"COUNTRY" TEXT,
	"TERRITORY" TEXT,
	"CONTACTLASTNAME" TEXT,
	"CONTACTFIRSTNAME" TEXT,
	"DEALSIZE" TEXT
)

2024-11-06 19:59:00,993 INFO sqlalchemy.engine.Engine [no key 0.00544s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00544s] ()

2024-11-06 19:59:00,998 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Sales_index" ON "Sales" ("index")

INFO:sqlalchemy.engine.Engine:CREATE INDEX "ix_Sales_index" ON "Sales" ("index")

2024-11-06 19:59:01,000 INFO sqlalchemy.engine.Engine [no key 0.00261s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00261s] ()

2024-11-06 19:59:01,071 INFO sqlalchemy.engine.Engine INSERT INTO "Sales" ("index", "ORDERNUMBER", "QUANTITYORDERED", "PRICEEACH", "ORDERLINENUMBER", "SALES", "ORDERDATE", "STATUS", "QTR_ID", "MONTH_ID", "YEAR_ID", "PRODUCTLINE", "MSRP", "PRODUCTCODE", "CUSTOMERNAME", "PHONE", "ADDRESSLINE1", "ADDRESSLINE2", "CITY", "STATE", "POSTALCODE", "COUNTRY", "TERRITORY", "CONTACTLASTNAME", "CONTACTFIRSTNAME", "DEALSIZE") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO "Sales" ("index", "ORDERNUMBER", "QUANTITYORDERED", "PRICEEACH", "ORDERLINENUMBER", "SALES", "ORDERDATE", "STATUS", "QTR_ID", "MONTH_ID", "YEAR_ID", "PRODUCTLINE", "MSRP", "PRODUCTCODE", "CUSTOMERNAME", "PHONE", "ADDRESSLINE1", "ADDRESSLINE2", "CITY", "STATE", "POSTALCODE", "COUNTRY", "TERRITORY", "CONTACTLASTNAME", "CONTACTFIRSTNAME", "DEALSIZE") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

2024-11-06 19:59:01,075 INFO sqlalchemy.engine.Engine [generated in 0.04857s] [(0, 10107, 30, 95.7, 2, 2871.0, '2/24/2003 0:00', 'Shipped', 1, 2, 2003, 'Motorcycles', 95, 'S10_1678', 'Land of Toys Inc.', '2125557818', '897 Long Airport Avenue', None, 'NYC', 'NY', '10022', 'USA', None, 'Yu', 'Kwai', 'Small'), (1, 10121, 34, 81.35, 5, 2765.9, '5/7/2003 0:00', 'Shipped', 2, 5, 2003, 'Motorcycles', 95, 'S10_1678', 'Reims Collectables', '26.47.1555', "59 rue de l'Abbaye", None, 'Reims', None, '51100', 'France', 'EMEA', 'Henriot', 'Paul', 'Small'), (2, 10134, 41, 94.74, 2, 3884.34, '7/1/2003 0:00', 'Shipped', 3, 7, 2003, 'Motorcycles', 95, 'S10_1678', 'Lyon Souveniers', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', None, 'Paris', None, '75508', 'France', 'EMEA', 'Da Cunha', 'Daniel', 'Medium'), (3, 10145, 45, 83.26, 6, 3746.7, '8/25/2003 0:00', 'Shipped', 3, 8, 2003, 'Motorcycles', 95, 'S10_1678', 'Toys4GrownUps.com', '6265557265', '78934 Hillside Dr.', None, 'Pasadena', 'CA', '90003', 'USA', None, 'Young', 'Julie', 'Medium'), (4, 10159, 49, 100.0, 14, 5205.27, '10/10/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Corporate Gift Ideas Co.', '6505551386', '7734 Strong St.', None, 'San Francisco', 'CA', None, 'USA', None, 'Brown', 'Julie', 'Medium'), (5, 10168, 36, 96.66, 1, 3479.76, '10/28/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Technics Stores Inc.', '6505556809', '9408 Furth Circle', None, 'Burlingame', 'CA', '94217', 'USA', None, 'Hirano', 'Juri', 'Medium'), (6, 10180, 29, 86.13, 9, 2497.77, '11/11/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Daedalus Designs Imports', '20.16.1555', '184, chausse de Tournai', None, 'Lille', None, '59000', 'France', 'EMEA', 'Rance', 'Martine', 'Small'), (7, 10188, 48, 100.0, 1, 5512.32, '11/18/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Herkku Gifts', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', None, 'Bergen', None, 'N 5804', 'Norway', 'EMEA', 'Oeztan', 'Veysel', 'Medium')  ... displaying 10 of 2823 total bound parameter sets ...  (2821, 10397, 34, 62.24, 1, 2116.16, '3/28/2005 0:00', 'Shipped', 1, 3, 2005, 'Ships', 54, 'S72_3212', 'Alpha Cognac', '61.77.6555', '1 rue Alsace-Lorraine', None, 'Toulouse', None, '31000', 'France', 'EMEA', 'Roulet', 'Annette', 'Small'), (2822, 10414, 47, 65.52, 9, 3079.44, '5/6/2005 0:00', 'On Hold', 2, 5, 2005, 'Ships', 54, 'S72_3212', 'Gifts4AllAges.com', '6175559555', '8616 Spinnaker Dr.', None, 'Boston', 'MA', '51003', 'USA', None, 'Yoshido', 'Juri', 'Medium')]

INFO:sqlalchemy.engine.Engine:[generated in 0.04857s] [(0, 10107, 30, 95.7, 2, 2871.0, '2/24/2003 0:00', 'Shipped', 1, 2, 2003, 'Motorcycles', 95, 'S10_1678', 'Land of Toys Inc.', '2125557818', '897 Long Airport Avenue', None, 'NYC', 'NY', '10022', 'USA', None, 'Yu', 'Kwai', 'Small'), (1, 10121, 34, 81.35, 5, 2765.9, '5/7/2003 0:00', 'Shipped', 2, 5, 2003, 'Motorcycles', 95, 'S10_1678', 'Reims Collectables', '26.47.1555', "59 rue de l'Abbaye", None, 'Reims', None, '51100', 'France', 'EMEA', 'Henriot', 'Paul', 'Small'), (2, 10134, 41, 94.74, 2, 3884.34, '7/1/2003 0:00', 'Shipped', 3, 7, 2003, 'Motorcycles', 95, 'S10_1678', 'Lyon Souveniers', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', None, 'Paris', None, '75508', 'France', 'EMEA', 'Da Cunha', 'Daniel', 'Medium'), (3, 10145, 45, 83.26, 6, 3746.7, '8/25/2003 0:00', 'Shipped', 3, 8, 2003, 'Motorcycles', 95, 'S10_1678', 'Toys4GrownUps.com', '6265557265', '78934 Hillside Dr.', None, 'Pasadena', 'CA', '90003', 'USA', None, 'Young', 'Julie', 'Medium'), (4, 10159, 49, 100.0, 14, 5205.27, '10/10/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Corporate Gift Ideas Co.', '6505551386', '7734 Strong St.', None, 'San Francisco', 'CA', None, 'USA', None, 'Brown', 'Julie', 'Medium'), (5, 10168, 36, 96.66, 1, 3479.76, '10/28/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Technics Stores Inc.', '6505556809', '9408 Furth Circle', None, 'Burlingame', 'CA', '94217', 'USA', None, 'Hirano', 'Juri', 'Medium'), (6, 10180, 29, 86.13, 9, 2497.77, '11/11/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Daedalus Designs Imports', '20.16.1555', '184, chausse de Tournai', None, 'Lille', None, '59000', 'France', 'EMEA', 'Rance', 'Martine', 'Small'), (7, 10188, 48, 100.0, 1, 5512.32, '11/18/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Herkku Gifts', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', None, 'Bergen', None, 'N 5804', 'Norway', 'EMEA', 'Oeztan', 'Veysel', 'Medium')  ... displaying 10 of 2823 total bound parameter sets ...  (2821, 10397, 34, 62.24, 1, 2116.16, '3/28/2005 0:00', 'Shipped', 1, 3, 2005, 'Ships', 54, 'S72_3212', 'Alpha Cognac', '61.77.6555', '1 rue Alsace-Lorraine', None, 'Toulouse', None, '31000', 'France', 'EMEA', 'Roulet', 'Annette', 'Small'), (2822, 10414, 47, 65.52, 9, 3079.44, '5/6/2005 0:00', 'On Hold', 2, 5, 2005, 'Ships', 54, 'S72_3212', 'Gifts4AllAges.com', '6175559555', '8616 Spinnaker Dr.', None, 'Boston', 'MA', '51003', 'USA', None, 'Yoshido', 'Juri', 'Medium')]

2024-11-06 19:59:01,105 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2024-11-06 19:59:01,110 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-11-06 19:59:01,114 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

After running that code, you can view the contents of the newly created SQL table `Sales` by running a SQL query to fetch data from it. Here’s how you can do it:

### 1. Query the Table with SQLAlchemy
Use SQLAlchemy’s `execute` method to run a `SELECT` statement and fetch data from the `Sales` table.

In [39]:
temp_db = create_engine('sqlite:///:memory:', echo=False) # turn off logging echo=False
data = df.to_sql(name='Sales',con=temp_db)

# Create a connection from the engine
with temp_db.connect() as connection:
    # Execute the query through the connection
    result = connection.execute(text("SELECT * FROM Sales limit 5"))

    # Display the result
    for row in result:
        print(row)

(0, 10107, 30, 95.7, 2, 2871.0, '2/24/2003 0:00', 'Shipped', 1, 2, 2003, 'Motorcycles', 95, 'S10_1678', 'Land of Toys Inc.', '2125557818', '897 Long Airport Avenue', None, 'NYC', 'NY', '10022', 'USA', None, 'Yu', 'Kwai', 'Small')
(1, 10121, 34, 81.35, 5, 2765.9, '5/7/2003 0:00', 'Shipped', 2, 5, 2003, 'Motorcycles', 95, 'S10_1678', 'Reims Collectables', '26.47.1555', "59 rue de l'Abbaye", None, 'Reims', None, '51100', 'France', 'EMEA', 'Henriot', 'Paul', 'Small')
(2, 10134, 41, 94.74, 2, 3884.34, '7/1/2003 0:00', 'Shipped', 3, 7, 2003, 'Motorcycles', 95, 'S10_1678', 'Lyon Souveniers', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', None, 'Paris', None, '75508', 'France', 'EMEA', 'Da Cunha', 'Daniel', 'Medium')
(3, 10145, 45, 83.26, 6, 3746.7, '8/25/2003 0:00', 'Shipped', 3, 8, 2003, 'Motorcycles', 95, 'S10_1678', 'Toys4GrownUps.com', '6265557265', '78934 Hillside Dr.', None, 'Pasadena', 'CA', '90003', 'USA', None, 'Young', 'Julie', 'Medium')
(4, 10159, 49, 100.0, 14, 5205.27, '10/10/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Corporate Gift Ideas Co.', '6505551386', '7734 Strong St.', None, 'San Francisco', 'CA', None, 'USA', None, 'Brown', 'Julie', 'Medium')

### 2. Load the Table into a DataFrame
Alternatively, you can use Pandas to read from the SQL table and display it as a DataFrame, which may be easier to work with in Colab.

This will give you a complete view of the data in the `Sales` table, just as it exists in the SQL database.

In [8]:
# Load the Sales table back into a DataFrame for easy viewing
sales_df = pd.read_sql(text("SELECT * FROM Sales limit 5"), con=temp_db)

# Display the DataFrame
sales_df

,index,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,...,897 Long Airport Avenue,None,NYC,NY,10022,USA,None,Yu,Kwai,Small
1,1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,...,59 rue de l'Abbaye,None,Reims,None,51100,France,EMEA,Henriot,Paul,Small
2,2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,...,27 rue du Colonel Pierre Avia,None,Paris,None,75508,France,EMEA,Da Cunha,Daniel,Medium
3,3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,...,78934 Hillside Dr.,None,Pasadena,CA,90003,USA,None,Young,Julie,Medium
4,4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,...,7734 Strong St.,None,San Francisco,CA,None,USA,None,Brown,Julie,Medium

### Connecting to SQL Database:
- Using SQL Alchemy we can establish a connection to this temporary database and query it for the results:

In [26]:
with temp_db.connect() as conn:
  # makes the connection
  # then run the query
  result = conn.execute(text("Select ORDERNUMBER, SALES from Sales ORDER BY SALES DESC LIMIT 1"))
  print(result.all())

[(10407, 14082.8)]

In [25]:
query = "Select ORDERNUMBER, QUANTITYORDERED, PRICEEACH from Sales \
        where 'PRICEEACH' > 60 ORDER BY SALES DESC LIMIT 5"

with temp_db.connect() as conn:
    result = conn.execute(text(query))
    print(result.all())

[(10407, 76, 100.0), (10322, 50, 100.0), (10424, 50, 100.0), (10412, 60, 100.0), (10403, 66, 100.0)]


### Extract Table & Column Names

To get the column names for the `Sales` table, you can use the `get_columns` method of the inspector, which provides detailed information about each column in the table. Here’s how to do it:


### Explanation:
- **`inspector.get_columns('Sales')`** retrieves a list of dictionaries, where each dictionary represents a column in the `Sales` table.
- **`column['name']`** extracts the name of each column from these dictionaries.

This will print the column names in the `Sales` table, giving you a clear view of the table structure.

In [43]:
from sqlalchemy import create_engine, inspect

# Create an in-memory SQLite database with logging turned off
temp_db = create_engine('sqlite:///:memory:', echo=False)

# Write the DataFrame to the Sales table
data = df.to_sql(name='Sales', con=temp_db, index=False)

# Use the existing engine to set up the inspector
inspector = inspect(temp_db)

# Get table information
print("Tables in the database:", inspector.get_table_names())

# Get column information for the Sales table
columns = inspector.get_columns('Sales')
print("Column names in the 'Sales' table:",
 [print(column['name']) for column in columns])

Tables in the database: ['Sales']
ORDERNUMBER
QUANTITYORDERED
PRICEEACH
ORDERLINENUMBER
SALES
ORDERDATE
STATUS
QTR_ID
MONTH_ID
YEAR_ID
PRODUCTLINE
MSRP
PRODUCTCODE
CUSTOMERNAME
PHONE
ADDRESSLINE1
ADDRESSLINE2
CITY
STATE
POSTALCODE
COUNTRY
TERRITORY
CONTACTLASTNAME
CONTACTFIRSTNAME
DEALSIZE
Column names in the 'Sales' table: [None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]

### Inform GPT about the SQL Table Structure

We need to tell GPT what the table structure looks like before it can understand the schema enough to create a SQL query. Let's create a function to generate the first part of the example text below (which we can then attach a user natural language query to!)

This code defines a function, `create_table_definition_prompt`, that generates a prompt to provide GPT with the structure of a SQL table. Here’s a breakdown of how it works and why it's needed:

### Purpose of `create_table_definition_prompt`

This function creates an initial prompt to inform GPT of the table structure (table name and column names) in a format that resembles SQL schema documentation. This gives GPT the context it needs to generate accurate SQL queries based on the natural language query you attach to the prompt.

### Code Explanation

1. **Docstring**: The function starts with a docstring describing its purpose, which is to create a prompt to inform GPT that we are working with SQL tables.

2. **Prompt Template**:
   ```python
   prompt = '''### sqlite SQL table, with its properties:
   #
   # Sales({})
   #
   '''.format(",".join(str(x) for x in df.columns))
   ```

   - **Explanation of Template Structure**:
     - `'''### sqlite SQL table, with its properties:`: Starts the prompt with a comment-like structure that describes the table and its attributes.
     - `Sales({})`: This line introduces the table name `Sales` followed by the column names in parentheses.
     - `",".join(str(x) for x in df.columns)`: This part joins all column names from the DataFrame `df` as a comma-separated string and inserts them into the `Sales({})` format.
       - For example, if the DataFrame has columns `date`, `amount`, and `customer_id`, this line becomes `Sales(date, amount, customer_id)`.

3. **Returning the Prompt**:
   - The generated prompt string is returned, which serves as the initial part of the message to be fed into GPT.
   - The format allows GPT to interpret the structure of the SQL table (table name and column names) so it can accurately complete or generate SQL queries when given a natural language question about the table.

### Why This Prompt is Needed

When GPT is given information about the table schema in a structured format, it can better interpret the user’s query and generate SQL code that matches the schema. By knowing the table name (`Sales`) and its columns (e.g., `date`, `amount`, `customer_id`), GPT can:
- Recognize which columns are available for querying.
- Understand the table layout, making it easier to generate valid SQL queries.

We tell GPT the table structure and the NLP question, then at the end we tell it to "SELECT"... Thus GPT must finish with the rest of the most reasonable SQL query

In [44]:
def create_table_definition_prompt(df):
    """
    Generates a prompt describing the SQL table structure for GPT.

    Parameters:
        df (pd.DataFrame): The DataFrame whose column names will be used to define the SQL table.

    Returns:
        str: A formatted string prompt describing the table structure, to be used in a GPT prompt.
    """

    # Generate prompt with table name and column names
    prompt = '''### sqlite SQL table, with its properties:
#
# Sales({})
#
'''.format(", ".join(str(col) for col in df.columns))

    return prompt

In [45]:
print(create_table_definition_prompt(df))

### sqlite SQL table, with its properties:
          #
          # Sales(ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE)
          #

### Natural Language Request

Now let's create a function that grabs the natural language information request. The `prompt_input` function is designed to capture user input and save it to a variable. Here’s a breakdown of what it does:


### Explanation

1. **Input Capture**:
   - `input("Enter information you want to obtain: ")` displays a prompt message ("Enter information you want to obtain:") and waits for the user to type in text. Whatever the user types is then stored in the variable `nlp_text`.

2. **Return Statement**:
   - `return nlp_text` sends the user input back as the function's output, which means any code calling `prompt_input()` will receive the user's input as a string.

### Usage

You would use this function to capture a natural language question or request, which could then be used as part of a larger prompt for GPT. This approach makes it easy to gather input and integrate it with other functions that build the complete prompt for GPT.

In [54]:
def prompt_input():
    nlp_text = input("Enter information you want to obtain: ")
    return nlp_text

nlp_text = prompt_input()

Enter information you want to obtain: avg sales by city

### Combine Prompts Function

The `combine_prompts` function creates a structured prompt for GPT by combining the SQL table schema and a user’s natural language query. This setup gives GPT the context it needs (the table structure and a clear question) to generate a relevant SQL query. The prompt ends with "SELECT," guiding GPT to complete the SQL statement accurately based on the table’s schema.

The `combine_prompts` function is designed to take two pieces of information—(1) the SQL table structure and (2) a user’s natural language query—and combine them into a formatted prompt for GPT to generate a SQL query.

1. **`create_table_definition_prompt(df)`**:
   - This function call generates the table definition based on the structure of the DataFrame `df`.


2. **`query_init_string`**:
   - `query_init_string` is a formatted string that integrates the user’s natural language query (`query_prompt`) as part of the overall prompt.

3. **Combining the Prompts**:
   - `return definition + query_init_string` combines the table structure (`definition`) with the user’s query prompt (`query_init_string`), forming a single prompt string.
   - This combined prompt is formatted to give GPT both the table structure and a clear instruction to complete the SQL query after the `SELECT` keyword.


### Purpose of This Function

This combined prompt provides GPT with:
- A clear structure of the table (`Sales` with columns like ORDERNUMBER,QUANTITYORDERED,PRICEEACH).
- A natural language question that GPT can interpret to generate a SQL query.

The `SELECT` at the end signals GPT to complete the SQL statement by adding the correct columns and clauses to answer the query. This setup helps guide GPT in producing a valid SQL query that aligns with the table schema.

In [55]:
def combine_prompts(df, query_prompt):
    # Generate the table structure definition
    definition = create_table_definition_prompt(df)

    # Format the user's natural language query as part of the SQL prompt
    query_init_string = f"### A query to answer: {query_prompt}\nSELECT"

    # Combine the table definition and the query prompt to form the final prompt
    return definition + query_init_string

combine_prompts(df, nlp_text)

'### sqlite SQL table, with its properties:\n          #\n          # Sales(ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE)\n          #\n### A query to answer: avg sales by city\nSELECT'

Notice how GPT works, it will complete the text above, thus we start to notify it to begin a SQL query by writing "\nSELECT"

Now let's get the response:

### OpenAI API Call

Let's use the Code DaVinci model since we know it understand SQL (in the future generalized models may work even better and not need the specify "Code")!

### Load Environment Variables

In [59]:
# Load the environment variables from the .env file
load_dotenv('/content/API_KEYS.env')

# Get the API key from the environment
api_key = os.getenv("OPENAI_API_KEY")

# Print the API key to confirm it's loaded correctly
print(f"API Key loaded from .env: {api_key[0:40]}")

# Set the API key for the OpenAI library
openai.api_key = api_key

API Key loaded from .env: sk-proj-e1GUWruINPRnrozmiakkRMQEnFiEbthN

### Run Query Creator

In [78]:
from openai import OpenAI
import openai
# openai = OpenAI()

MODEL = 'gpt-4o-mini'

# Define the prompt as a message for the chat model
response = openai.chat.completions.create(
    model=MODEL,
    messages=[
        {"role": "system", "content": "You are an assistant that writes SQL queries."},
        {"role": "user", "content": combine_prompts(df, nlp_text)}
    ],
    temperature=0,
    max_tokens=150,
    top_p=1.0,
    frequency_penalty=0.0,
    presence_penalty=0.0,
    stop=["#", ";"]
)

print(response.choices[0].message.content)

To calculate the average sales by city from the `Sales` table, you can use the following SQL query:

```sql
SELECT CITY, AVG(SALES) AS AverageSales
FROM Sales
GROUP BY CITY

#### SQL Query Creater Script

In [81]:
script_content = r'''

import openai
import pandas as pd
from sqlalchemy import create_engine, text

MODEL = 'gpt-4'  # Ensure this is the correct model name

def create_table_definition_prompt(df):
    """
    Generates a prompt describing the SQL table structure for GPT.

    Parameters:
        df (pd.DataFrame): The DataFrame whose column names will be used to define the SQL table.

    Returns:
        str: A formatted string prompt describing the table structure, to be used in a GPT prompt.
    """
    # Generate prompt with table name and column names
    prompt = """### sqlite SQL table, with its properties:
#
# Sales({})
#
""".format(", ".join(str(col) for col in df.columns))
    return prompt


def prompt_input():
    """
    Prompts the user to enter information they want to obtain in natural language.

    Returns:
        str: The user's input as a string.
    """
    return input("Enter information you want to obtain: ")


def combine_prompts(df, query_prompt):
    """
    Combines the table definition and the user's natural language query into a single prompt for GPT.

    Parameters:
        df (pd.DataFrame): The DataFrame whose column names define the SQL table.
        query_prompt (str): The user's natural language query.

    Returns:
        str: A combined prompt that includes the table structure and user's query.
    """
    # Generate the table structure definition
    definition = create_table_definition_prompt(df)
    # Format the user's query as part of the SQL prompt
    query_init_string = f"### A query to answer: {query_prompt}\nSELECT"
    return definition + query_init_string


def get_sql_query_from_gpt(df, nlp_text):
    """
    Generates a SQL query using GPT based on the provided table structure and natural language query.

    Parameters:
        df (pd.DataFrame): DataFrame to define the SQL table structure.
        nlp_text (str): The user's natural language query.

    Returns:
        str: The SQL query generated by GPT.
    """
    prompt = combine_prompts(df, nlp_text)

    try:
        # Send the prompt to GPT and retrieve the response
        response = openai.chat.completions.create(
            model=MODEL,
            messages=[
                {"role": "system", "content": "You are an assistant that writes SQL queries."},
                {"role": "user", "content": prompt}
            ],
            temperature=0,
            max_tokens=150,
            top_p=1.0,
            frequency_penalty=0.0,
            presence_penalty=0.0,
            stop=["#", ";"]
        )
        # Return the generated SQL query
        return response.choices[0].message.content.strip()
    except Exception as e:
        print("An error occurred while generating the SQL query:", e)
        return None

# Main workflow
if __name__ == "__main__":
    # Prompt the user for their natural language query
    nlp_text = prompt_input()

    # Generate the SQL query from GPT
    sql_query = get_sql_query_from_gpt(df, nlp_text)

    if sql_query:
        print("Generated SQL Query:\n", sql_query)
'''


# Write the script to a file
with open("sql_query_util.py", "w") as file:
    file.write(script_content)

print("Script successfully written to sql_query_util.py")
# Reload script to make functions available for use
import importlib
import sql_query_util
importlib.reload(sql_query_util)

from sql_query_util import *

Script successfully written to sql_query_util.py

#### Test Script

In [83]:
import pandas as pd
from sql_query_util import prompt_input, get_sql_query_from_gpt, combine_prompts

# Load the CSV data into a DataFrame
df = pd.read_csv("/content/sales_data_sample.csv")

# Define the natural language query
nlp_text = "Calculate the average sales by city."

# Generate the SQL query using the imported functions
sql_query = get_sql_query_from_gpt(df, nlp_text)

# Display the generated SQL query
if sql_query:
    print("Generated SQL Query:\n\n", sql_query)

Generated SQL Query:

 CITY, AVG(SALES) as AVERAGE_SALES
FROM Sales
GROUP BY CITY